*{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: darkcyan;
}
.left{
    display: block;
 
}
.top{
    border: 3px solid transparent;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 300px;

}
.left .top p{
    padding-left: 30px;
    font-family: Poppins;
    font-size: 80px;
    display: block;
}
.mid1{
    border: 3px solid transparent;
    padding-top: 140px;
    padding-left: 100px;
    font-family: Inter;
}
.mid2{
    border: 3px solid transparent;
    padding-top: 80px;
    padding-left: 100px;
    font-family: Inter;
}
.left .bottom{
    border: 3px solid transparent;
    padding-top: 100px;
    padding-left: 100px;
    font-family: Inter;
    font-weight: 600px;
    font-size: 30px;
}
.right{
    border: 3px solid transparent;
    padding-left: 300px;
}
.right img{
    padding-left: 70px;
    width: 800px;
    height: 960px;
}
.left .bottom button{
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background-color: #ffba00;
    border-color: transparent;

}
.left .bottom button:hover{
    color: brown;
}